@charset "utf-8";

*{
    list-style: none;
    margin: 0;
    padding:0;
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #F4F0ED;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #B2B1D9;
}

h1, h2, h3 {
    color: #323232;
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-style: normal;
    text-align: left;
    font-size: 2em;
}

a:hover {
    color: #B2B1D9;
}

h1 {
    text-align: center;
    font-size: 4em;
}

h3 {
    font-size: 1.5em;
}

.flex-container {
	width:100%;
	background-color: #323232;
    flex-direction: column;
    display:flex;
    align-items: center;
}

.secciones {
    width: 60%;
	background-color:#F4F0ED;
    padding-bottom: 1.5%;
    margin:15px;
	text-align: left;
    line-height: 2;
    border-radius: 50px;
    align-items: center;
}

.contenido_seccion {
    padding: 1.5% 7%;
    align-items: center;
}

.titulo_seccion {
    background-color:#B2B1D9;
    width: 100%;
    height: 70px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-sizing: border-box;
    padding: 0% 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.softwares {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.programa {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.textos_bold {
    font-weight: 600;
}

.contenedor-sobre-mi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.5%
}

.foto_mia {
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #B2B1D9;
}

footer {
    background-color: #B2B1D9;
    color: #323232;
    display: flex;
    padding: 1.5% 6.5%; /*se que probablemente esta no sea la forma de alinear los elementos. Podrian decirme cual es la manera correcta?*/
    justify-content: space-around;
    align-items: baseline;
}

.iconos_footer {
    display: flex;
    gap: 10px;
}
